<!DOCTYPE html>
<html>

<head>
  <!-- template source - https://github.com/joashp
        /material-design-template -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#2196F3">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Phil IT | Course Materials</title>


  <!-- CSS  -->

  <link href="/min/plugin-min.css" type="text/css" rel="stylesheet">
  <link href="/min/custom-min.css" type="text/css" rel="stylesheet">

  <style>


  </style>


</head>

<body id="top" class="scrollspy" style="font-family: monospace">
  <!-- Pre Loader -->
  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>

  <!--Navigation-->
  <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/admin_course_list" id="logo-container" class="brand-logo">Teacher Platform</a>
          <ul class="right hide-on-med-and-down">
            
            <li><a href="#contact">Profile</a></li>
            <li>
              <a class='dropdown-trigger btn' href='#' data-target='dropdown' id="logged-in" style="margin-right: 20px"
                class=" waves-effect waves-light btn">User</a>
              <ul id='dropdown' class='dropdown-content'>
                <li><a id="sign" href="/signin.html"></a></li>

              </ul>


            </li>


          </ul>
          
        </div>
      </div>
    </nav>
  </div>
  {{{body}}}

  <footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">

      <div class="footer-copyright default_color">
        <div class="container">
          <h4 class="text-white">Phil IT &COPY;</h4>
        </div>
      </div>
    </div>
  </footer>
  </body>
<script src="/min/plugin-min.js"></script>
<script src="/min/custom-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script>
     $('.dropdown-trigger').dropdown();
      $('.dropdown-trigger-sid').dropdown();

    course_id = $(".other").data("course_id");
    week_number = $(".other").data("weeknum");
    chapter_number = $(".other").data("chapnum");


    $(document).on("click", ".add-section", function () {
      console.log("i clicked on ok");


      title = $(".title").val().trim();
      var order_in_chapter = $(".order_in_chapter").val().trim();
      material = $(".material").val().trim();
      chapter_title = $(".other").data("chapter_title");
      photo = $(".image").get(0).files[0];
      formData = new FormData();
      formData.append("photo", photo);

      material = {
        title: title,
        order_in_chapter: order_in_chapter,
        material: material,
        week_number: week_number,
        chapter_number: chapter_number,
        chapter_title: chapter_title,
        course_id: course_id
      }
      ourMaterial = JSON.stringify(material);
      formData.append("material", ourMaterial);
      console.log(formData);





      saveMaterial(formData).then(function (res) {
        console.log("success");
        location.reload();
      })

    });



    $(document).on("click", ".del-section", function () {
      order = $(this).data("order")
      deleteParams = {
        course_id: course_id,
        week_number: week_number,
        chapter_number: chapter_number,
        order_in_chapter: order,
      }

      deleteMaterial(deleteParams).then(function (res) {
        console.log("success");
        location.reload();
      })
    });


    $(document).on("click", ".add-week", function () {
      console.log("Add week");
      cid = $("#course-id").data("cid");
      console.log(cid)

      week_number = $(".week-number").val();
      url = "/add-chapter/" + cid + "/" + week_number;
      console.log(url);
      $.ajax({

        type: "GET",
        url: url


      }).then(function (response) {
        document.open();
        document.write(response);
        document.close();
      })


    })
    $(document).on("click", ".add-chapter", function () {
      console.log("i clicked on ok");
      var week = $(".add").data("week");
      var cid = $(".add").data("cid");
      chapter_number = $(".chapter-number").val().trim();
      title = $(".title").val().trim();
      var order_in_chapter = $(".order_in_chapter").val().trim();
      material = $(".material").val().trim();
      chapter_title = $(".chapter-title").val().trim();
      photo = $(".image").get(0).files[0];
      formData = new FormData();
      formData.append("photo", photo);

      material = {
        title: title,
        order_in_chapter: order_in_chapter,
        material: material,
        week_number: week,
        chapter_number: chapter_number,
        chapter_title: chapter_title,
        course_id: cid
      }
      ourMaterial = JSON.stringify(material);
      formData.append("material", ourMaterial);
      console.log(formData);





      saveMaterial(formData).then(function (response) {
        window.location.replace("/coursechapters/" + response.course_id + "/" + response.week_number);

      })

    });





    function saveMaterial(data) {
      return $.ajax({

        type: "POST",
        url: "/course_admin/add-section",
        data: data,
        processData: false,
        contentType: false,

      });
    }

    function deleteMaterial(data) {

      return $.ajax({
        url: "/delete-section",
        type: "DELETE",
        data: data

      });
    }
    
$.ajax({
     
      type: "GET",
      url: "/checkIfLogedIn",
     
      
    }).then(function(res){
  if (res=="no"){
    $("#logged-in").html("User");
    
    $("#sign").html("Sign In");
  }
  else{
    $("#logged-in").html(res.firstname);
    
    $("#sign").html("LogOut"); 
     $("#sign").attr("href","/logout"); 
  }
    });

  </script>

</html>