<!DOCTYPE html>
<html>

<head>
    <!-- template source - https://github.com/joashp
        /material-design-template -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#2196F3">
    <title>Phil IT | Course Materials</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body id="top" class="scrollspy">
        <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" id="logo-container" class="brand-logo">Phil IT</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">About US</a></li>
                        <li><a href="#work">Courses</a></li>
                        <li><a href="#team">Contact</a></li>
                        <li><a href="#contact">Forum</a></li>
                        <li>
                            <a href="/signin.html" id="logged-in" style="margin-right: 20px" class=" waves-effect waves-light btn">Sign In</a>
                           


                        </li>
                        <li id="logout"></li>

                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#intro">About US</a></li>
                        <li><a href="#work">Courses</a></li>
                        <li><a href="#team">Contact</a></li>
                        <li><a href="#contact">Forum</a></li>
                        <li><a href="https://github.com/joashp/material-design-template" target="_blank">Download</a>
                        </li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i
                            class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

{{{body}}}

<footer id="contact" class="page-footer default_color scrollspy">
        <div class="container">
            
        </div>
        </div>
        <div class="footer-copyright default_color">
            <div class="container">
                Made by <a class="white-text" href="https://github.com/joashp/material-design-template">Joash
                    Pereira</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    

</body>
<script src="min/plugin-min.js"></script>
<script src="min/custom-min.js"></script>
<script>
$.ajax({
     
      type: "GET",
      url: "/checkIfLogedIn",
     
      
    }).then(function(res){
  if (res=="no"){
    $("#logged-in").html("Sign In");
    $("#logout").empty();

  }
  else{
    $("#logged-in").html(res.firstname);
    
     logout=$("<a>");
        logout.html("Log-Out");
        logout.attr("class","waves-effect waves-light btn logout-button");
        logout.attr("href","/logout")
     $("#logout").append(logout);
  }
    });


    $(document).on("click",".logout-button", function(){
        $.ajax({
     
     type: "GET",
     url: "/checkIfLogedIn",
    
     
   })
})
</script>

</html>