
              
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <h1 id="course-id" data-cid="{{cid}}">New week</h1>
          
        <br>
        <label for="formGroupExampleInput">week number</label>
        <input type="text" class="week-number form-control" id="formGroupExampleInput" placeholder="Enter week number">

        <label for="formGroupExampleInput">week Description</label>
        <input type="text" class="week-desc form-control" id="formGroupExampleInput" placeholder="Enter week Description">

        
        <br><br><br><br>

        <button class="add-week center btn waves-effect blue" type="submit" name="action">ADD Week
                <i class=" material-icons right">add</i>
              </button>


        
        
        </div>
        <div class="col-4"></div>

    </div>
</div>