<div class="card text-center">
  <div class="card-header">
    Question 5
  </div>
  <div class="card-body">
      <div class="card">
           <h5 class="card-title">Answer for question 5</h5>
      </div>
   <br>
    <textarea id="answer{{id}}" rows="4" cols="100" required></textarea>
    <br>
    <a href="#" class="btn btn-primary">Submit answer</a>
  </div>
  <div class="card-footer text-muted">
    Thank you for your questions!
  </div>
</div>