
    <div class="row" style="height: 600px">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 style="text-align: center;">Course Material</h1>
            <div class="card" style="width: 18rem;margin:auto">
                    <ul class="list-group list-group-flush">
                        {{#each weekList}}
                        <li class="list-group-item text-center"><a href="/coursechapters/{{../cid}}/{{week}}">week {{week}}</a></li>
                        {{/each}}
                      
              
                     
                    </ul>
                  </div>
        <br>
               <a style="display: block;margin: auto;width:435px"href="/add-week/{{cid}}" class="material-icons right"> <button class="btn waves-effect blue" type="submit" name="action">New Week

                    

              </button> </a>


        
        
        </div>
        <div class="col-3"></div>

    </div>
</div>